.bloco{
	width: 150px;
	height: 150px;
	border: 1px solid rgb(40,5,27);
	display: inline-block;
	background-size: cover;
	background-color: rgba(240,240,240,0.7);
	float: left;
}
.fileira{
	width: 456px;
	margin: auto;
}
h1, #mensagem{

	color: white; text-align: center; text-shadow: 0 0 5px blue, 0 0 5px #FF0000;white-space: nowrap;padding: 5px;
}
body{
	background-image: url(midia/wllp.png);
	background-size: cover;
}
#reset{
	text-align: center;
  	top: 610px;
  	width: 100%;
  	position: fixed;
}
#placar{
	text-align: center;
	color: white;
	font-size: 120%;
	white-space: nowrap;	
}
#placar span{
	background-color: rgba(40,0,40,0.7);
	border: 2px solid rgba(10,0,15,0.2);
	padding-left: .5%;
	padding-right: .5%;
}